.container {
  position: relative;
}

.register_main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 400px;
  color: #fff;
}

.p_group {
  display: flex;

  & :last-child {
    margin-left: 5px;
    cursor: pointer;
    color: #1e9bff;
  }

  & :last-child:hover {
    color: #70b5ed;
  }
}
