.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register_main {
  color: #fff;
}

.p_group {
  display: flex;

  & :last-child {
    margin-left: 5px;
    cursor: pointer;
    color: #1e9bff;
  }

  & :last-child:hover {
    color: #70b5ed;
  }
}
