.navbar_main {
  width: 100%;
  height: 38px;
  background: #1e9bff;
  display: flex;
  align-items: center;
  justify-content: end;
  color: #000000;

  & :last-child {
    margin-left: 1rem;
    margin-right: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
  }
}

.form_main {
  display: flex;
  flex-direction: column;
  width: 400px;

  & input {
    margin-top: 30px;
    height: 38px;
    padding: 0 10px;
  }

  & input:focus {
    outline: none;
  }
}

.form_btn {
  margin-top: 30px;
  margin-bottom: 30px;
}

.navbar_img {
  width: 22px;
}
